.btn {
  background-color: rgb(17, 128, 255);
  color: white;
  border-radius: 5px;
  cursor: pointer;

  white-space: nowrap;
  height: 48px;
  font-size: 14px;
  padding: 0px 24px;
  line-height: 24px;
}
